
* {
    box-sizing: border-box;
}
:root {
    --main-site-color: rgb(255, 153, 0);
    --navigation-color: red;
    --content-color: rgb(143, 238, 237);
    --decorative-line-color: rgb(17, 0, 255);
    --line-size: 20px;
    --half-line-size: calc(var(--line-size) / 2);
}

#Header {
    background-color: var(--main-site-color);
    height: 10vh;
}
#MidSection {
    display: flex;
    height: 90vh;

}
#Sidebar {
    background-color: var(--navigation-color);
    width: fit-content;
    border-right: 1px solid #000000;
    padding-left: 5px;
    padding-right: 5px;
    border-top: 1px solid #000000;
    flex-shrink: 0;
}

#Content {
    background-color: var(--content-color);
    padding-left: 10px;
    flex-grow: 1;
}

#StationList {
    flex: 1;
}
.Station, .StartStation, .EndStation {
    display: flex;
}

.StationHeader {
    display: flex;
    flex-wrap: wrap;
}

.DecorativeLine {
    width: var(--line-size);
    flex-grow: 0;
    flex-shrink: 0;
    display: grid;
}

.Line, .BorderCircle, .Circle {
    grid-column: 1;
    grid-row: 1;
}

.Line {
    box-sizing: border-box;
    background-color: var(--decorative-line-color);
}

.StartStation .Line {
    clip-path: polygon(0 var(--half-line-size),100% var(--half-line-size), 100% 100%,0 100%);
}

.Station .Line {
    clip-path: polygon(0 0,100% 0, 100% 100%,0 100%);
}

.EndStation .Line {
    clip-path: polygon(0 0,100% 0, 100% var(--half-line-size),0 var(--half-line-size));
}

.BorderCircle {
    clip-path: circle(var(--half-line-size) at center var(--half-line-size));
    background-color: var(--decorative-line-color);
}

.Circle {
    --circle-border-size: 1px;
    clip-path: circle(calc(var(--half-line-size) - (2*var(--circle-border-size))) at center var(--half-line-size));
    background-color: rgb(255, 255, 255);
}

.StationName {
    font-size: var(--line-size)
}
.StationDetails {
    flex-grow: 1;
}